<footer>
  <div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
    <hr>
    {% if BANNER_FOOTER or DISPLAY_CONTACT_FOOTER %}
     <div class="row">
       
       {% if BANNER_FOOTER %}
         <div class="col-xs-8 mb-5 footer__partners">
           {{ BANNER_FOOTER }}
         </div>
       {% endif %}
       {% if DISPLAY_FOOTER_CONTACT == true and (ADDRESS or MAIL or PHONE) %}
         <div class="col-xs-4 footer__informations">
             <h4>{{ _('Contact us') }}</h4>

             {% if ADDRESS %}
               <h5>{{ _('Address') }}</h5>
               <p>{{ ADDRESS }}</p>
             {% endif %}

             {% if MAIL %}
               <h5>{{ _('Mail') }}</h5>
               <a href="mailto:{{ MAIL }}">{{ MAIL }}</a>
             {% endif %}

             {% if PHONE %}
               <h5>{{ _('Phone number') }}</h5>
               <a href="tel:{{ PHONE }}">
                 {{ PHONE }}
               </a>
             {% endif %}

         </div>
       {% endif %}
     </div>
    {% endif %}
     <div class="row">
        {% if articles %}
          {% if articles[0].modified %}
            {% set copy_date = articles[0].modified.strftime('%Y') %}
          {% else %}
            {% set copy_date = articles[0].date.strftime('%Y') %}
          {% endif %}
        {% else %}
           {% set copy_date = '' %}
        {% endif %}
        <div class="col-sm-10">&copy; {{ copy_date }} {{ AUTHOR }}
           &middot; {{ _('Powered by') }} <a href="https://github.com/getpelican/pelican-themes/tree/master/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
           <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
           <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>
           {%- if CC_LICENSE or CC_LICENSE_DERIVATIVES or CC_LICENSE_COMMERCIAL %}
             {% from 'includes/cc-license.html' import cc_license_mark %}
               <p><small>{{ cc_license_mark(cc_name=CC_LICENSE,derivatives=CC_LICENSE_DERIVATIVES,commercial=CC_LICENSE_COMMERCIAL,attr_markup=CC_ATTR_MARKUP,attr_props={'title':SITENAME,'name':article.author if article else AUTHOR,'url':SITEURL,'lang':DEFAULT_LANG}) }}</small></p>
           {% elif CUSTOM_LICENSE %}
             <p><small>{{ CUSTOM_LICENSE }}</small></p>
           {% endif %}
        </div>
         <div class="col-sm-2"><p class="float-right"><i class="icon-up-big"></i> <a href="#">{{ _('Back to top') }}</a></p></div>
      </div>
   </div>
</footer>